@media (max-width: 768px) {
  .introduction-container h2 {
    font-size: 30px;
    line-height: auto;
  }
  .introduction-container h3 {
    font-size: 20px;
    line-height: auto;
  }


  .about-me-container {
    text-align: center;
    margin-top: 35%;
  }

  .about-me-container h2 {
    font-size: 25px;
  }
  .about-me-container p {
    font-size: 15px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}


.paypage_wrapper {
    padding: 40px;
    color: white;
    border: solid 2px white;
}

.paypage_wrapper:hover {
    transform: scale(1.02);
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.471);
    color: #000;
}

.page_wrapper {
    padding: 20px 20px 0 20px;
}

.langs {
    display: flex;
    flex-direction: row;
    gap: 10px;
    color: rgba(176, 176, 176, 0.654);
}

.langs span::before {
    content: "-";
}