/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;400;600&display=swap");

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
}

.font-Spartan {
  font-family: "Spartan", sans-serif;
}

.particles {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  margin-top: 0px;
  z-index: 0;
}

.example-container div {
  width: 100%;
  top: calc(50% - 150px / 2);
  left: calc(50% - 150px / 2);
}

.example-container .drag-area {
  opacity: 0.2;
  top: calc(50% - 150px);
  left: calc(50% - 150px);
}

.textShadow {
  text-shadow: 4px 7px 11px rgba(64, 63, 63, 0.47);
}

.textShadow:hover {
  text-shadow: none;
  cursor: grab;
}

.boxContainer {
  width: 200px;
  height: 200px;
  position: relative;
  margin: 20px;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.boxNext {
  border-radius: 50%;
  position: absolute;
  width: 80px;
  height: 80px;
  background: rgba(29, 29, 31, 0.89);
  opacity: 0.1;
  left: 61px;
  top: 13px;
}

.box1 {
  border-radius: 50%;
  position: absolute;
  width: 320px;
  height: 320px;
  background: rgba(29, 29, 31, 0.89);
  opacity: 0.1;
}

.box2 {
  border-radius: 50%;
  position: absolute;
  width: 200px;
  height: 200px;
  background: rgba(255, 255, 255, 0.64);
  opacity: 0.3;
  margin-left: 70%;
  margin-top: 70%;
  backdrop-filter: blur(4px);
}

.project-title-container {
  background-color: #42aeef;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.project-title-container2 {
  background-color: #48a04b;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.box3 {
  border-radius: 50%;
  position: absolute;
  width: 80px;
  height: 80px;
  background: rgba(255, 255, 255, 0.64);
  opacity: 0.4;
  left: 95px;
  top: 27px;
}
.column {
  position: relative;
  height: 100vh;
  overflow: hidden;
  flex-direction: column;
  justify-content: space-evenly;
}

.screen {
  background-clip: content-box;
  margin-top: auto;
  margin-bottom: auto;
  bottom: 0;
}
.side {
  height: 100%;
  color: black;
}
.rightSide {
  background-color: #06275c;
  box-shadow: inset 9px 0px 15px 1px rgba(114, 114, 114, 0.29);
}

.titleText {
  z-index: 9;
}

.mobileBtn {
  bottom: 0;
  background-color: red;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.info {
  display: flex;
  text-align: right;
  justify-content: center;
  height: 70%;
  position: relative;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 20px;
  width: 100%;
  overflow: hidden;
  color: white;
}

.image {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.project-content {
  height: 88%;
}

.project-content .image {
  width: 100%;
}
