@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;400;600&display=swap');

:root {
  --primary-color: #063771;
  --secondary: #f4f8fc;
  --third: #40f689;
  --grey: #c1c1c1;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Spartan', sans-serif;
  background-color: var(--primary-color);
}

.header-container {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

/* syling the header  */
.menu-links-container {
  width: 50%;
  padding-right: 50px;
}

.menu-links-container ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.menu-links-container ul li {
  color: white;
  list-style: none;
  cursor: url('../assets/brand/logo.svg'), auto;
  padding: 10px;
}

.menu-links-container ul li:hover {
  background-color: var(--secondary);
  color: var(--primary-color);
}

/* styling the middle part of the home page */

.middle-container {
  padding: 10%;
  margin: auto;
}

.introduction-container p {
  color: var(--third);
  font-size: 20px;
  font-weight: 300;
  line-height: 30px;
}

.introduction-container h2 {
  color: var(--secondary);
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
}

.introduction-container h3 {
  color: var(--grey);
  font-size: 30px;
  line-height: 30px;
}

.get-intouch-button {
  background-color: var(--secondary);
  color: var(--primary-color);
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 20px auto;
}
.get-intouch-button:hover {
  background-color: var(--primary-color);
  border: 1px solid var(--secondary);
  color: white;
}

.about-me-container {
  margin: 20% auto;
}

.about-me-container h2 {
  color: var(--secondary);
  font-size: 30px;
}

.about-text-container p {
  color: var(--grey);
  line-height: 30px;
  font-size: 20px;
}
